/* Kontener całej aplikacji */
.appContainer {
  min-width: 320px;
  max-width: 1280px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin: 0 auto;
}

/* Główna zawartość */
.mainContent {
  flex: 1;
  margin-top: 20px;
}

/* Stylizacja zakładek (Expenses, Income) w stopce */
.tabsFooter {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-top: 20px;
}

.tabButton {
  flex: 1;
  padding: 15px;
  background-color: #f0f0f0;
  border: none;
  cursor: pointer;
  text-align: center;
  font-size: 1rem;
  border-radius: 8px; /* Dodano zaokrąglone rogi */
  transition: background-color 0.3s ease;
}

.tabButton:hover {
  background-color: #ddd;
}

.active {
  background-color: #ff7f00;
  color: white;
}

/* Punkty przerwania dla responsywności */

/* Widok mobilny */
@media (max-width: 767px) {
  .tabsFooter {
    flex-direction: row;
    justify-content: space-around;
  }

  .tabButton {
    font-size: 1rem;
  }
}

/* Widok tabletowy */
@media (min-width: 768px) and (max-width: 1279px) {
  .tabsFooter {
    justify-content: center;
    gap: 10px;
  }

  .tabButton {
    font-size: 1.1rem;
    padding: 15px 30px;
  }
}

/* Widok desktopowy */
@media (min-width: 1280px) {
  .tabsFooter {
    justify-content: center;
    gap: 20px;
  }

  .tabButton {
    font-size: 1.2rem;
    padding: 15px 30px;
  }

  .mainContent {
    padding: 20px;
  }
}