.transactionHeader {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.datePicker {
  display: flex;
  align-items: center;
}

.dateInput {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 100%;
}

.calendarButton {
  background: none;
  border: none;
  cursor: pointer;
}

.calendarIcon {
  background: url(../../images/icons/calendar.svg) no-repeat center;
  background-size: 20px;
  width: 32px;
  height: 32px;
}

.inputFields {
  display: flex;
  gap: 10px;
}

.transactionButtons {
  display: flex;
  gap: 10px;
}

.inputBtn,
.clearBtn {
  padding: 15px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
}

.inputBtn {
  background-color: #ff7f00;
  color: white;
}

.clearBtn {
  background-color: #f0f0f0;
  color: #333;
}