.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;
}

.modalContent {
    background: var(--color-white);
    width: 380px;
    height: 194px;
    border-radius: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.closeBtn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border-style: none;
    cursor: pointer;
}

.closeIcon {
    background: url(../../images/icons/close.svg);
    width: 14px;
    height: 14px;
}

.modalText {
    font-size: 16px;
    margin-bottom: 20px;
}

.modalBtnGroup {
    display: flex;
    gap: 20px;
}

.yesBtn, .noBtn {
width: 125px;
  height: 44px;
  border-radius: 22px;
  font-size: 16px;
  cursor: pointer;
  border-style: none;
}

.yesBtn {
    color: var(--color-white);
    background: var(--color-orange);
}

.noBtn {
    background: transparent;
    border: 1px solid var(--color-lightgray);
    color: var(--color-black);
}