/* Lista mobilna */
.mobileView {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Tabela dla widoku tabletowego i desktopowego (domyślnie ukryta) */
.transactionTable {
  width: 100%;
  border-collapse: collapse;
  display: none; /* Ukryj tabelę w widoku mobilnym */
}

.transactionTable th,
.transactionTable td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.transactionTable th {
  font-weight: bold;
}

/* Przyciski */
.backBtn {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #ff7f00;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

/* Punkty przerwania */

/* Widok tabletowy (768px and up) */
@media (min-width: 768px) {
  .mobileView {
    display: none; /* Ukryj widok listy na urządzeniach tabletowych i większych */
  }

  .transactionTable {
    display: table; /* Wyświetl tabelę od tabletu wzwyż */
  }
}