/* add hover, focus and transition */

.home {
  margin: 0 auto;
  width: 320px;
  padding: 142px 20px 105px;
  position: relative;
  z-index: 1;
}

.flexContainer {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.mainHeader {
  height: 50px;
}

.mediumLogo {
  display: none;
}

.bigLogo {
  display: none;
}

.mainParagraph {
  color: var(--color-darkergray);
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 0.15em;
  text-transform: uppercase;
}

.form {
  background-color: var(--color-white);
  border-radius: 30px;
  box-shadow: 5px 10px 15px #dfdfe8;
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 40px 20px;
}

.fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

/* .formParagraph {
  color: var(--color-darkergray);
  font-size: 12px;
  letter-spacing: 0.04em;
  margin-bottom: 16px;
} */

.firstFormParagraph {
  color: var(--color-darkergray);
  font-size: 12px;
  height: 28px;
  letter-spacing: 0.04em;
  margin-bottom: 16px;
  width: 222px;
  text-align: center;
}

.secondFormParagraph {
  color: var(--color-darkergray);
  font-size: 12px;
  letter-spacing: 0.04em;
  margin-bottom: 16px;
}

.googleButton {
  background-color: var(--color-lightergray);
  border: none;
  border-radius: 30px;
  box-shadow: 0 3px 4px #eee;
  display: flex;
  font-size: 14px;
  font-weight: bold;
  gap: 10px;
  margin: 0 auto;
  padding: 11px 20px;
}

.formContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.formRow {
  display: flex;
  flex-direction: column;
  gap: 12px;
  position: relative;
}

.label {
  font-size: 10px;
  letter-spacing: 0.04em;
}

.label::before {
  color: var(--color-lightred);
  content: '*';
  /* display: none; */
}

.input {
  background-color: var(--color-lightergray);
  border: none;
  border-radius: 40px;
  font-size: 14px;
  padding: 17px;
}

.input::placeholder {
  color: var(--color-darkgray);
  font-size: 14px;
  letter-spacing: 0.04em;
}

.required {
  bottom: -14px;
  color: var(--color-lightred);
  font-size: 10px;
  height: 12px;
  position: absolute;
  /* visibility: hidden; */
}

.buttons {
  display: flex;
  gap: 8px;
  margin-top: 40px;
  width: 100%;
}

.button {
  background-color: var(--color-lightgray);
  border: none;
  border-radius: 16px;
  box-shadow: 0 3px 4px #eee;
  color: var(--color-darkergray);
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0.02em;
  padding: 15px 0;
  text-transform: uppercase;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .home {
    padding: 136px 171px 155px;
    width: 768px;
  }

  .flexContainer {
    gap: 80px;
  }

  .mainHeader {
    height: 82px;
  }

  .smallLogo {
    display: none;
  }

  .mediumLogo {
    display: block;
  }

  .mainParagraph {
    font-size: 16px;
    letter-spacing: 0.18em;
    margin-left: 53px;
  }

  .form {
    box-shadow: 0 5px 25px #eeeef8;
    padding: 56px 84px;
  }

  /* .formParagraph {} */

  .firstFormParagraph {
    margin-bottom: 20px;
    width: 100%;
  }

  .secondFormParagraph {
    color: var(--color-darkergray);
    font-size: 12px;
    letter-spacing: 0.04em;
    margin-bottom: 20px;
  }

  .formContainer {
    gap: 32px;
  }

  .label {
    font-size: 12px;
  }
}

@media screen and (min-width: 1280px) {
  .home {
    width: 1280px;
    padding: 173px 91px 125px;
  }

  .flexContainer {
    flex-direction: row;
    gap: 157px;
  }

  .mainHeader {
    height: 120px;
    margin-left: 138px;
    margin-top: 191px;
  }

  .mediumLogo {
    display: none;
  }

  .bigLogo {
    display: block;
  }

  .mainParagraph {
    font-size: 16px;
    margin-left: 210px;
  }

  .form {
    padding: 56px 83px;
  }
}

/* What is the best way to style an input below label so it takes 100% width? */
