:root {
  --color-black: #000;
  --color-darkergray: #52555f;
  --color-darkgray: #a6abb9;
  --color-gray: #c7ccdc;
  --color-lightgray: #f5f6fb;
  --color-lightergray: #f6f7fb;
  --color-white: #fff;
  --color-darkorange: #ff751d;
  --color-orange: #fb7c2f;
  --color-lightorange: #ffdac0;
  --color-red: #e7192e;
  --color-lightred: #eb5757;
  --color-green: #407946;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: 0.02em;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
  display: block;
}
